# Pleae fill in the values and rename the file to .env
NUXT_SECRET="some-secret"
SAML_ENTRY_POINT=https://example.com
SAML_CERT="
-----BEGIN CERTIFICATE-----
MANY SECRET LINES
-----END CERTIFICATE-----
"